<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/core-signals/core-signals.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="shop-product" attributes="product">
  <template>
    <style>
    :host {
      margin: 0 0 2.5em;
    }

    paper-shadow {
      background: #fff;
    }

    img {
      width: 100%;
    }

    .details {
      padding: .5em;
    }

    .name {
      display: block;
      font-size: 1.5em;
      color: #212121;
      padding-bottom: .5em;
      text-decoration: none;
    }

    .name:hover {
      color: #1976D2;
    }

    .price {
      font-weight: bold;
    }

    paper-button {
      color: #fff;
      margin: 0;
    }

    .button--add {
      background-color: #1976D2;
    }

    .button--remove {
      background-color: #FF5252;
    }

    </style>

    <paper-shadow>
      <img src={{product.image}} alt="product image" />
      <div class="details">
        <a class="name" href={{product.url}} target="_blank">{{product.name}}</a>

        <div layout horizontal justified>
          <div self-end class="price">{{product.price}} {{product.currency}}</div>
          <paper-button
            on-click="{{addToCart}}"
            class="{{ {'button--add': !added, 'button--remove': added} | tokenList}}"
          >
            <template if="{{added}}">
              Remove
            </template>
            <template if="{{!added}}">
              Add to cart
            </template>
          </paper-button>
        </div>
      </div>
    </paper-shadow>

  </template>

  <script>
    Polymer('shop-product', {
      product: {},
      added: false,

      addToCart: function(event, detail, sender) {
        if(!this.added) {
          // add
          this.fire('core-signal', {name: 'cart-added', data: this.product});
        }
        else {
          // remove
          this.fire('core-signal', {name: 'cart-removed', data: this.product.id});
        }

        // update button state
        this.added = !this.added;
      }
    });
  </script>
</polymer-element>
