<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="shop-product.html">

<polymer-element name="shop-product-list" attributes="products-src">
  <template>
    <style>
    :host {}

    shop-product {
      width: 100%;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width: 1151px) {
      shop-product {
        width: 30%;
        margin-right: 5%;
      }

      shop-product:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @media only screen and (min-width: 800px) and (max-width: 1150px) {
      shop-product{
        width: 48%;
        margin-right: 4%;
      }

      shop-product:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    </style>

    <core-ajax
      auto
      url="../data/products.json"
      on-core-response="{{productsLoaded}}"
      handleAs="json">
    </core-ajax>

    <div layout horizontal wrap>
      <template repeat="{{product in products}}">
        <shop-product product="{{product}}"></shop-product>
      </template>
    </div>

  </template>

  <script>
    Polymer('shop-product-list', {
      productsLoaded: function(e, data, sender) {
        this.products = data.response;
      }
    });
  </script>
</polymer-element>
