<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/core-signals/core-signals.html">

<polymer-element name="shop-product" attributes="product">
  <template>
    <style>

    img {
      width: 100%;
    }

    .button-wrap {
      text-align: right;
    }

    .button--add {
      color: #fff;
      background-color: #1976D2
    }

    .button--remove {
      color: #fff;
      background-color: #FF5252;
    }

    </style>

    <img src={{product.image}} alt="product image" />
    <h3><a href={{product.url}} target="_blank">{{product.name}}</a></h3>

    <div layout horizontal>
      <div flex one>{{product.price}} {{product.currency}}</div>
      <div flex one class="button-wrap">
        <paper-button
          on-click="{{addToCart}}"
          class="{{ {'button--add': !added, 'button--remove': added} | tokenList}}"
        >
          <template if="{{added}}">
            Remove
          </template>
          <template if="{{!added}}">
            Add to cart
          </template>
        </paper-button>
      </div>
    </div>

  </template>

  <script>
    Polymer('shop-product', {
      product: {},
      added: false,

      addToCart: function(event, detail, sender) {
        if(!this.added) {
          // add
          this.fire('core-signal', {name: 'cart-added', data: this.product});
        }
        else {
          // remove
          this.fire('core-signal', {name: 'cart-removed', data: this.product.id});
        }

        // update button state
        this.added = !this.added;
      }
    });
  </script>
</polymer-element>
