<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="shop-product" attributes="product">
  <template>
    <style>

    img {
      width: 100%;
    }

    .button-wrap {
      text-align: right;
    }
    </style>

    <img src={{product.image}} alt="product image" />
    <h3><a href={{product.url}} target="_blank">{{product.name}}</a></h3>

    <div layout horizontal>
      <div flex one>{{product.price}} {{product.currency}}</div>
      <div flex one class="button-wrap">
        <button class="btn btn-primary">
          Add to cart
        </button>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      product: {}
    });
  </script>
</polymer-element>
