<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shop-product.html">

<polymer-element name="shop-product-list" attributes="products-src">
  <template>
    <style>
    :host {}

    shop-product {
      width: 30%;
      margin-right: 5%;
    }

    shop-product:nth-of-type(3n) {
      margin-right: 0;
    }
    </style>

    <div layout horizontal wrap>
      <template repeat="{{product in products}}">
        <shop-product product="{{product}}"></shop-product>
      </template>
    </div>

  </template>

  <script>
    Polymer('shop-product-list', {
      ready: function() {
        this.products = productsCollection;
      }
    });
  </script>
</polymer-element>
