html,body {
  height: 100%;
  margin: 0;
  background-color: #eee;
  font-family: 'RobotoDraft', sans-serif;
  color: #212121;
}

a {
  color: #1976D2;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  background: #1976D2;
  color: white;
}

.content {
  margin: 2em 2em 0;
}

footer {
  margin: 0 2em;
}
