html,body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  background: #1976D2;
  color: white;
}

footer {
  margin-top: 2em;
}